<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org">
    <head>
        <script type="text/javascript" src="/js/doT.min.js"></script>
        <script type="text/javascript" src="/js/common.js"></script>
        <script type="text/javascript" src="/js/personOne.js"></script>
        <link rel="stylesheet" href="/css/bulma.min.css" />
    </head>
    <body>
        <div class="container mt-4 mb-4">
            <h1 class="title">Személyek</h1>
            <div class="notifycontainer"></div>
            <div id="person" class="block"></div>
        </div>
            

        <input id="id" type="hidden" th:value="${id}"/>
        <div th:replace="~{footer::footer}"></div>
                
    </body>
        <script type="text/x-dot-template" id="person">
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Név</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <input class="input" type="text" placeholder="vezeték">
                    </div>
                    <div class="field">
                        <input class="input" type="text" placeholder="keresztnév">
                    </div>
                </div>
            </div>
            
            <div class="box" id="constant">
            </div>
            <div class="box" id="temporary">
            </div>
            <div class="buttons is-right">
                {{? ! it.new }}<button class="button is-danger del">Törlés</button>{{?}}
                <button class="button is-success save">Mentés</button>
            </div>
        </script>        
        <script type="text/x-dot-template" id="address">
                <div class="columns">
                    <div class="column"><h2 class="title is-5">{{? it.constant}}Állandó{{??}}Ideiglenes{{?}} lakcím</h2></div>
                    <div class="column"><label class="checkbox"><input type="checkbox" /> létezik</label></div>
                </div>   
                <div class="hider">   
                    <div class="field-body block">
                        <div class="field">
                            <input class="input" type="text" placeholder="irányítószám">
                        </div>
                        <div class="field">
                            <input class="input" type="text" placeholder="település">
                        </div>
                        <div class="field">
                            <input class="input" type="text" placeholder="cím">
                        </div>
                    </div>
                    <div class="box">
                        <div class="columns">
                            <div class="column"><h2 class="title is-6">Elérhetőségek</h2></div>
                            <div class="column"><div class="buttons is-right"><button class="button is-info" >Új</button></div></div>
                        </div>     
                        <div class="contactList">
                          
                        </div>
                    </div>
                </div>   
        </script>        
        <script type="text/x-dot-template" id="contact">
              <div class="columns">
                    <div class="column">
                        <div class="select">
                            <select>
                                <option value="email">Email</option>
                                <option value="phone">Telefon</option>
                            </select>
                        </div>
                    </div>
                    <div class="column"><input class="input" type="text"></div>
                    <div class="column"><div class="buttons is-right"><button class="button is-danger">Törlés</button></div></div>
                </div>     
        </script>        
        <script type="text/x-dot-template" id="error">
            <h2>{{=it.message}}</h2>
        </script>              
        <script type="text/x-dot-template" id="notify">
            <div class="notification block mb-4 is-light">
                <button class="delete"></button>
                <p/>
            </div>

        </script>              
</html>        